{% extends "main_layout.html" %}
{% block content %}
    <br>
    <form action="/add" method="get">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">developer</label>
            <select name="username" class="form-select" id="inputGroupSelect01">
            {% for user in users %}
            <option value="{{user['username']}}">{{user['username']}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">titel</span>
            <input name="titel" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-text">content</span>
            <textarea name="content" class="form-control" aria-label="With textarea">blog text</textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-success">add new blog</button>
        
    </form>
{% endblock content %}