{% extends "main_layout.html" %}
{% block content %}
    <script src="static/admin.js"></script>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/add" class="btn btn-secondary" role="button" aria-disabled="true">add blog</a>
    {% for user in users %}
        <input type="checkbox" class="btn-check" id="{{user['username']}}" autocomplete="on">
        <label class="btn btn-secondary" for="{{user['username']}}">{{user['username']}}</label>
    {% endfor %}
    </div>
    <br><br>
    <div class="list-group">
    {% for item in work %}
        {% if item['status'] == 'done' %}
        <a href="/view?id={{item['id']}}" class="list-group-item list-group-item-action list-group-item-success" aria-current="true">
        {% elif item['status'] == 'started'%}
        <a href="/view?id={{item['id']}}" class="list-group-item list-group-item-action list-group-item-primary" aria-current="true">
        {% else %}
        <a href="/view?id={{item['id']}}" class="list-group-item list-group-item-action" aria-current="true">
        {% endif %}
        
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item['titel']}}</h5>
            <small>developer: {{item['user']}}</small>
          </div>
          <p class="mb-1">{{item['content']}}</p>
          <small class="mb-1">{{item['status']}}</small>
          
        </a>
    {% endfor %}
    </div>
{% endblock content %}