{% extends "main_layout.html" %}
{% block content %}
    <br>
    <form action="/view" method="get">
        <input hidden type="number" value="{{work['id']}}" name="id">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">developer</label>
            <select name="username" class="form-select" id="inputGroupSelect01">
            {% for user in users %}
            {% if user['username'] == work['user'] %}
                <option selected value="{{user['username']}}">{{user['username']}}</option>
            {% else %}
                <option value="{{user['username']}}">{{user['username']}}</option>
            {% endif %}
            {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">status</label>
            <select name="status" class="form-select" id="inputGroupSelect01">
                {% if work['status'] == 'done' %}
                <option value="not started">not started</option>
                <option value="started">started</option>
                <option selected value="done">done</option>
                {% elif work['status'] == 'started' %}
                <option value="not started">not started</option>
                <option selected value="started">started</option>
                <option value="done">done</option>
                {% else %}
                <option selected value="not started">not started</option>
                <option value="started">started</option>
                <option value="done">done</option>
                {% endif %}
                
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">titel</span>
            <input name="titel" value="{{work['titel']}}" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-text">content</span>
            <textarea name="content" class="form-control" aria-label="With textarea">{{work['content']}}</textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">supmit changes</button>
    </form>
{% endblock content %}